body {
    font-family: 'Segoe UI', sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.shell {
    position: fixed; 
    left:0; 
    top:0; 
    right:0; 
    bottom:20px; 
    width: 100%; 
    height: 100%;
}

.primary-foreground {
    color: #FFFFFF;
}

.secondary-foreground {
    color: #90AFC1;
}

.tiles-background {
    background-color: #212A35;
    vertical-align: top;
}

.one-way-price {
    cursor: pointer;
}

.one-way-price table:hover {
    background-color: #2F5078;
}

.normal-tile {
    display: inline-block;
    width: 328px;
    height: 150px;
    border: 0;
    background-color: #293543;
    margin: 1px;
}

/*
.normal-tile li:hover {
    background-color: #294464;
}*/

.error-tile {
    display: inline-block;
    width: 328px;
    height: 150px;
    border: 0;
    background-color: #CE3C1C;
    margin: 1px;
}

.tile a:link {
    float: right;
    text-decoration:none;
    color: white;
}

.tile a:visited {
    float: right;
    text-decoration:none;
    color: white;
}

.tile a:hover {
    float: right;
    text-decoration:underline;
    color: white;
}

.tile a:active {
    float: right;
    text-decoration:none;
    color: white;
}

.arrow-up {
	width: 0; 
	height: 0;
    margin: auto;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 8px solid #3FCF1E;
}

.arrow-down {
	width: 0; 
	height: 0;
    margin: auto;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 8px solid #CC3350;
}

.error {
    color: #FFFFFF;
    background-color: #CE3C1C;
}

.tile-symbol {
    font-size: 18px;
    color: #FFFFFF;
}

.notional {
    background-color: transparent;
    color: #90AFC1;
    border-style: none;
}

.connection-status {
    width: 100%; 
    background-color: #DEE3E8;
    position: fixed; 
    bottom: 0; 
    padding: 5px;
}